*{
	margin: 0;
	padding: 0;
}

html{
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.bouton_vaisseaux > button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	color: white;
	padding: 100%;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

.bouton_lasers > button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: transparent; 
	border: none;
	color: white;
	padding: 100%;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

#vaisseau1 {
    background-image: url('../img/Vaisseau1.png') ;
}
#vaisseau2 {
	background-image: url('../img/Vaisseau2.png') ;
}
#laser1 {
	background-image: url('../img/laser\ bleu.png');
}
#laser2 {
	background-image: url('../img/laser\ rouge.png');
}
#laser3 {
	background-image: url('../img/laser\ vert.png');
}
#laser4 {
	background-image: url('../img/laser\ orange.png');
}